@model EditRoleViewModel

@{
    ViewData["Title"] = "List of users in role";
}


<h1>List of users in role</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
}
    </tbody>
</table>

<div style="margin-top:100px">
    <a class="btn btn-primary" style="margin-left:10px"
        asp-action="EditUsersInRole" asp-route-id="@Model.Id">Manage users</a>
    <a class="btn btn-secondary" asp-action="Index">Return</a>
</div>