@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>


<hr/>
<p>
    Your account has been created successfully.
</p>
<a class="btn btn-primary" asp-page="./Login">Login</a>