@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<p>
    Your password has been reset.
</p>
<a class="btn btn-primary" asp-page="./Login">Login</a>