@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web plataform for managing of local accommodation, house renting, etc.</p>

    <a class="btn btn-primary" style="margin-top:50px" asp-controller="Imovel" asp-action="Index">Explore Properties</a>
</div>