@model MyAirbnb.Models.DoneChecklist

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DoneChecklist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChecklistId" class="control-label"></label>
                <select asp-for="ChecklistId" class="form-control" asp-items="ViewBag.ChecklistId"></select>
                <span asp-validation-for="ChecklistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservaId" class="control-label"></label>
                <select asp-for="ReservaId" class="form-control" asp-items="ViewBag.ReservaId"></select>
                <span asp-validation-for="ReservaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsavelId" class="control-label"></label>
                <select asp-for="ResponsavelId" class="form-control" asp-items="ViewBag.ResponsavelId"></select>
                <span asp-validation-for="ResponsavelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
