@model CreateReservaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation for ImovelNome</h4>
<hr />

@if(ViewBag.Erro != null)
{
    <p class="text-danger">
        @ViewBag.Erro
    </p>
}
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataCheckin" class="control-label"></label>
                <input asp-for="DataCheckin" class="form-control"/>
                <span asp-validation-for="DataCheckin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckout" class="control-label"></label>
                <input asp-for="DataCheckout" class="form-control"/>
                <span asp-validation-for="DataCheckout" class="text-danger"></span>
            </div>
            <input asp-for="ImovelId" type="hidden" class ="form-control"/>
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
