@model CreateChecklistViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Checklist</h4>
<hr />

@if(ViewBag.Erro != null)
{
    <span asp-validation-for="Descricao" class="text-danger">@ViewBag.Erro</span>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MomentoPreparacao" /> @Html.DisplayNameFor(model => model.MomentoPreparacao)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MomentoEntrega" /> @Html.DisplayNameFor(model => model.MomentoEntrega)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="DonoId" class="control-label"></label>
                <select asp-for="DonoId" type="hidden" class ="form-control d-none" asp-items="ViewBag.DonoId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
